[defaults]
timeout = 20
nocows = false
local_tmp = /tmp
remote_tmp = /tmp
strategy = linear
cow_selection = random
host_key_checking = false
deprecation_warnings = true
interpreter_python = /usr/bin/python3
