#!/usr/bin/env sh

mc alias set myminio "https://{{ inventory_hostname }}:{{ project.definition.services.s3.s3_api_port }}" {{ project.definition.services.s3.access_key }} {{ project.definition.services.s3.secret_key }} --insecure
mc mb --with-lock --with-versioning myminio/vSphereDev --insecure
mc mb --with-lock --with-versioning myminio/vSphereTest --insecure
mc mb --with-lock --with-versioning myminio/vSphereUat --insecure
mc mb --with-lock --with-versioning myminio/vSphereProd --insecure