path "{{ project.definition.services.vault.path }}/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "{{ project.definition.services.vault.s3_path }}" {
  capabilities = ["read"]
}