listener "tcp" {
  # on dev environment run with api port, on prod with "vault_console_port"
  address           = "[::]:{{ project.definition.services.vault.vault_api_port }}"
  tls_disable       = 0
  tls_key_file      = "/vault/certs/private.key"
  tls_cert_file     = "/vault/certs/public.crt"
  tls_min_version   = "tls12"
}

storage "file" {
  path = "/vault/file/"
}

disable_mlock = true

api_addr = "http://0.0.0.0:{{ project.definition.services.vault.vault_api_port }}"
# cluster_addr = "https://0.0.0.0:{{ project.definition.services.vault.vault_api_port }}"
# usually one port number higher than address for cluster address. Not needed for dev environment

default_lease_ttl = "168h"
max_lease_ttl = "720h"

ui = true